div {
    margin-top: 10px;
    height: 22vh;
    swiper-container {
        swiper-slide {
            height: 22vh;
            img {
                width: 100%;
                height: 18vh;
                border-radius: 5px;
                box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
            }
        }
    }
}